<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>profile</title>
</head>
<body>
    <div id="main">
        <h2>User Profile</h2>
        <p id="name">Name: {{user.username}}</p>
        <p id="email">Email: {{user.email}}</p>
        
        {% if user.get_friends() %}
            <h3>Friends: </h3>
            <ul>
                {% for i in user.get_friends() %}
                    <li>{{i}}</li>
                {% endfor %}
            </ul>
            {% if current_user.username == user.username %}
                <br>
                <button id="logout">Logout</button>
            {% endif %}
        {% else %}
            {% if current_user.username == user.username %}
                <br>    
                <h3>You have no friends</h3>
                <br>
                <button id="logout">Logout</button>
            {% else %}
                <br>
                <h3>{{user.username}} has no friends</h3>
            {% endif %}
        {% endif %}
        

        
    </div>
</body>
</html>